# IDE
.theia/
.vscode/
.idea/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.a
*.lib
*.la
*.lai
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Debug files
*.dwo
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# 编辑器/系统临时文件
*~
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db
*.tmp

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake

# 依赖 / Autotools
conanbuild/
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
libtool
m4/
stamp-h1

# 其他
*.log
*.tar.gz
*.zip
__pycache__/
*.pyc
node_modules/
